XH-DR10-HHN.mseed
./PyTorch\ Tutorial/data/
PyTorch Tutorial/data/
CV_Network_Implementations/AlexNet/ILSVRC2012_img_train.tar
/home/sbaveja/reu-files/U-Net/src/my_checkpoint.pth.tar
U-Net/src/my_checkpoint.pth.tar
